// ===========================  PRIMARY COLOR =========================== //

$black-col : black;
$fauve-col : rgb(220,168,50);
$jungle-col : rgb(0,83,78);
$vert-col : rgb(151,169,38);
$grey-col : rgb(130,135,135);
$kiwi-col : rgb(219,226,0);
$bleuvert-col : rgb(0,131,138);


// ===========================  % COLOR =========================== //

$jungle-col-10 : rgb(229, 238, 237);
$black-col-5 : rgb(244,244,244);
$fauve-col-40 : rgb(241,220,173);
$grey-col-50 :  rgb(181,184,184);
$grey-new-col-50 : #ecececec
